{% extends "base.html" %}
{% block content %}
<h1>{{ app_name }}</h1>
<p>Nama: {{ student_name }}</p>
<p>Kelas: {{ student_class }}</p>

<hr>

<p>Login sebagai: <b>{{ username }}</b></p>
<p>Sesi terakhir login: {{ last_login }}</p>
<a href="{% url 'main:logout' %}">Logout</a>

<hr>
<!-- Tombol switch All Products dan My Products -->
<a href="{% url 'main:show_all_products' %}">
    <button {% if view == "all" %}disabled{% endif %}>All Products</button>
</a>
<a href="{% url 'main:show_my_products' %}">
    <button {% if view == "mine" %}disabled{% endif %}>My Products</button>
</a>

<hr>
{% include "product_list.html" %}
{% endblock %}